.SearchResultsContainer{
    padding-right: 2rem;
}

.SearchResultsButton{
    border-radius: 0.8rem;
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin: 0.2rem;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 6px -2px rgb(79, 138, 79);
}

.SearchResultsButton:hover{
    box-shadow: 0 0 8px -2px rgb(35, 90, 35);
}

.SearchResultsMovieTitle{
    display: inline;
}

.SearchResultsMovieTitle:hover{
    color:rgb(79, 138, 79);
}