.SearchPageContainer{
    padding: 3rem;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.SearchPageTitle{
    text-align: center;
}

.SearchPageMovies{
    display: flex;
    flex-direction: row;
    width: 100%;
}