.SearchResultsContainer{
    background-color: rgb(247, 247, 247);
    border-radius: 1rem;
    padding: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
}

.SearchResultsButton{
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    background-color: #70CB7A;
    border: none;
    cursor: pointer;
}

.SearchResultsButton:disabled{
    pointer-events: none;
    background-color: rgb(168, 168, 168);
}

.SearchResultsButton p{
    color: white;
    display: inline;
}


.SearchResultsButton:hover{
    background-color: green;
}

.SearchResultsMovieTitle{
    display: inline;
}

.SearchResultsMovieTitle:hover{
    color:rgb(79, 138, 79);
}

.SearchResultsTick{
    height: 0.8rem;
    transform: translateY(0.1rem);
}
